body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: url("assets/images/logo.png") no-repeat center center fixed;
  background-color: #9fafaf;
  background-size: cover;
}

.container {
  display: flex;
  flex: 1;
  height: 100%;
}

#sidebar {
  width: 20vw;
  overflow-y: auto;
  background: rgba(34, 34, 34, 0.9); /* Semi-transparent dark background */
  padding: 20px;
  padding-right: 45px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.7);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: rgba(34, 34, 34, 0.8); /* Semi-transparent dark background */
  margin-bottom: 20px;
  border-radius: 10px;
}

.logo-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  gap: 10px;
}

.header h1 {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

#pdf-viewer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#pdf-frame {
  width: 100%;
  height: 100vh;
  border: none;
}

.children {
  display: none;
  margin-left: 20px;
  width: 100%;
}

.folder.expanded > .children {
  display: block;
}

.folder-btn {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  background-color: #555; /* Dark background for folders */
  color: #fff;
  font-weight: bold;
}

.file-btn {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  background-color: rgb(0, 255, 0, 0.1); /* Lighter background for files */
  color: #fff;
  font-weight: bold;
}

.folder-btn:hover {
  background-color: #777; /* Lighter gradient on hover */
}

.file-btn:hover {
  background-color: #aaa; /* Lighter gradient on hover */
}

button {
  cursor: pointer;
  width: 80%;
  padding: 10px 25px;
  margin: 5px;
  border: 1px #000 solid;
  border-radius: 4px;
  background-color: #f4f4ff;
  color: #000;
  font-weight: bold;
}

button:hover {
  background-color: #0a8fbc;
}

.pdf-controls {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.control-pdf-btn {
  justify-content: center;
  background-color: #0a8fbc;
  padding: 15px 35px;
  margin: 0 5px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.control-pdf-btn:hover {
  background-color: #0a800f;
}

.control-pdf-btn.delete {
  background-color: #ff0000;
}

.control-pdf-btn.delete:hover {
  background-color: #ff8c8c;
}
